body {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
    background-color: rgb(252, 237, 189);
}

#head {
    background-color: rgb(168, 154, 154);
    border-radius: 20px;
    text-align: center;
}

#list {
    text-align: center;
}